@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');


*{
    /* font-family: 'Poppins', sans-serif; */
}

body{
    font-family: 'Poppins', sans-serif;

}

.active .dropdown-active_btn{
  background: rgb(229, 231, 235, 1);
  border: 1px solid rgb(107, 114, 128, 1);
  color: rgb(17 24 39);;
}


.peers-dropdown {
    min-width: 350px !important;
}

.commentSideBar.show{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    right: 0;
}

.commentSideBar {
    z-index: 1001;
    position: fixed;
    -webkit-overflow-scrolling: touch;
    background: #fff;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    -webkit-transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    width: 400px !important;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    right: -400px;
    box-shadow: rgb(0 0 0 / 15%) 0px 4px 12px;
    /* box-shadow: 0px 1px 9px -3px rgb(0 0 0 / 75%); */

}




.sidebar .sidebar-dropdown-menu{
    /* display: none; */
    clear:both;
    width:100%;
    height:0px;
    overflow: hidden;
    text-align: center;
    transition: height .4s ease;
}
.sidebar .sidebar-dropdown-menu.show{
    /* display: block; */
    height: 200px;
}

/*===== DROPDOWN ====== */

.dropup,
.dropright,
.dropdown,
.dropleft {
  position: relative;
}

.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle[data-toggle-icon='true']::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  transition: all 300ms ease-out;
}
.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 95;
  display: none;
  float: left;
  min-width: 10rem;
  max-width: 100%;

  /* padding: 1rem; */
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  /* border: 1px solid rgba(0, 0, 0, 0.15); */
  border: none;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0px 0px 50px 0px rgb(82 63 105 / 15%);
  /* box-shadow: 0px 0px 50px 0px rgb(82 63 105 / 15%); */
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.1),
    0px 4px 6px -2px rgba(16, 24, 40, 0.05);
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropup {
  bottom: 0;
  top: auto;
}

@media (min-width: 576px) {
  .dropdown-menu-sm-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-sm-right {
    right: 0;
    left: auto;
  }
}

@media (min-width: 768px) {
  .dropdown-menu-md-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-md-right {
    right: 0;
    left: auto;
  }
}

@media (min-width: 1024px) {
  .dropdown-menu-lg-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-lg-right {
    right: 0;
    left: auto;
  }
}

@media (min-width: 1399px) {
  .dropdown-menu-xl-left {
    right: auto;
    left: 0;
  }
  .dropdown-menu-xl-right {
    right: 0;
    left: auto;
  }
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #a7abc3;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover,
.dropdown-item:focus {
  color: #6c7293;
  text-decoration: none;
  background-color: #f7f8fa;
}
.dropdown-item.active,
.dropdown-item:active {
  color: #ffffff;
  text-decoration: none;
  background-color: #5d78ff;
}
.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #adb1c7;
  pointer-events: none;
  background-color: transparent;
}

.show .dropdown-menu {
  display: block;
}
.active .dropdown-menu.large-dropdown {
  display: block;
}
.show-submenu .dropdown-menu.submenu-dropdown {
  display: block;
}

.show .dropdown-toggle[data-toggle-icon='true']::after {
  transform: rotate(180deg);
  transition: all 300ms ease-out;
}






.toggleicon{
    transform: rotate(90deg);
    transition: all 200ms ease;
}

nav .menu-item:hover span {
    /* left: 10px; */
    /* transform: translateX(10px); */
    /* transition: all 200ms ease-in-out; */
  }
  

.kt-list-timeline .kt-list-timeline__items {
    position: relative;
    padding: 0;
    margin: 0;
}

.kt-list-timeline .kt-list-timeline__items:before {
    background-color: #ebedf2;
    position: absolute;
    display: block;
    content: '';
    width: 1px;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 3px;
}

.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item:first-child {
    padding-top: 0;
    margin-top: 0;
}

.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0.3rem 0;
    margin: 0.5rem 0;
}

.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item:first-child:before, .kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item:last-child:before {
    background-color: #fff;
}

.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item:first-child:before, .kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item:last-child:before {
    background-color: white;
    position: absolute;
    display: block;
    content: '';
    width: 1px;
    height: 50%;
    top: 0;
    bottom: 0;
    left: 3px;
}

.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__badge {
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    position: relative;
    width: 20px;
}

.kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__text {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    padding: 0 0 0 5px;
    font-size: 0.875rem;
    /* color: #6c7293; */
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__time {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    width: 80px;
    padding: 0 0 0 5px;
    font-size: 0.645rem;
    color: #a7abc3;
}

.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__badge.kt-list-timeline__badge--success:before {
    background-color: #0abb87;
}
.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__badge.kt-list-timeline__badge--danger:before {
    background-color: #0abb87;
}

.kt-list-timeline .kt-list-timeline__items .kt-list-timeline__item .kt-list-timeline__badge:before {
    background-color: #ebedf2;
    position: absolute;
    display: block;
    content: '';
    width: 7px;
    height: 7px;
    left: 0;
    top: 50%;
    margin-top: -3.5px;
    border-radius: 100%;
}


.kt-error-v3{
  height: 100vh;
  overflow: auto;
}


.kt-error-v3 .kt-error_container .kt-error_number > h1 {
  font-size: 15.7rem;
  margin-left: 7.85rem;
  margin-top: 3.4rem;
  font-weight: 500;
  -webkit-text-stroke-width: 0.35rem;
  -moz-text-stroke-width: 0.35rem;
  text-stroke-width: 0.35rem;
  color: #A3DCF0;
  -webkit-text-stroke-color: white;
  -moz-text-stroke-color: white;
  text-stroke-color: white;
}

.kt-error-v3 .kt-error_container .kt-error_title {
  margin-left: 7.85rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: #464457;
}

.kt-font-light {
  /* color: #ffffff !important; */
}

.kt-error-v3 .kt-error_container .kt-error_subtitle {
  margin-left: 7.85rem;
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
  color: #6c7293;
}

.kt-error-v3 .kt-error_container .kt-error_description {
  margin-left: 7.85rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #a7abc3;
}

.rotate-animation{
  animation: fadeIn 300ms;
    -webkit-animation: fadeIn 300ms;
    -moz-animation: fadeIn 300ms;
    -o-animation: fadeIn 300ms;
    -ms-animation: fadeIn 300ms;
    animation-duration: 4s;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;


}

@keyframes rotate {
  0% { 
    transform: rotate(0deg); 
  }

  50%{
    transform: rotate(90deg); 
  }


  100% { 
    transform: rotate(0deg); 
    
   }
}

@-moz-keyframes rotate {
  0% { 
    transform: rotate(0deg); 
  }

  50%{
    transform: rotate(90deg); 

  }

  100% { 
    transform: rotate(0deg); 
    
   }
}

@-webkit-keyframes rotate {
  0% { 
    transform: rotate(0deg); 
  }

  50%{
    transform: rotate(90deg); 

  }


  100% { 
    transform: rotate(0deg); 
    
   }
}

@-o-keyframes rotate {
  0% { 
    transform: rotate(0deg); 
  }

  50%{
    transform: rotate(90deg); 

  }



  100% { 
    transform: rotate(0deg); 
    
   }
}

@-ms-keyframes rotate {
  0% { 
    transform: rotate(0deg); 
  }

  50%{
    transform: rotate(90deg); 

  }



  100% { 
    transform: rotate(0deg); 
    
   }
}











.scrollbar-change{
    scroll-behavior: smooth;
}

.no-scrollbar::-webkit-scrollbar {
    width: 0rem;
  }
.scrollbar-change::-webkit-scrollbar {
    width: 0.2rem;
  }
  .scrollbar-change::-webkit-scrollbar-track {
    background-color: (rgb(48, 47, 47) 173, 173);
  }
  .scrollbar-change::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    width: 0.1rem;
    background-color: rgb(251, 235, 255);
  }




  .tooltip {
    position: absolute;
    top: 0;
    /* left: -50%; */
    width: auto;
    font-size: 11px;
    background: #121216;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    flex-wrap: nowrap;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .tax .tooltip {
    left: 0%;
  }
  .discount .tooltip {
    left: -30%;
  }
  .shipping .tooltip {
    left: -30%;
  }
  
  .tooltip::before {
    position: absolute;
    content: '';
    height: 8px;
    width: 8px;
    background: #121216;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  

  


  .fade-in {
    animation: fadeIn 300ms;
    -webkit-animation: fadeIn 300ms;
    -moz-animation: fadeIn 300ms;
    -o-animation: fadeIn 300ms;
    -ms-animation: fadeIn 300ms;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }